x-redis-common: &redis-common
  image: docker.io/redis:8.2.3
  restart: unless-stopped
  entrypoint: redis-server /usr/local/etc/redis/redis.conf
  environment:
    REDIS_ADDR: "redis://127.0.0.1"
    REDIS_PORT: "6379"
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        redis-cli -p $${REDIS_PORT} ping | grep PONG
    interval: 10s
    timeout: 5s
    retries: 3

services:
  redis:
    volumes:
      - redis-data:/data
    configs:
      - source: redis-cfg
        target: /usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"
    <<: *redis-common

volumes:
  redis-data:
    driver: local

configs:
  redis-cfg:
    file: ./config/redis.conf
