x-mongo-common: &mongo-common
  image: docker.io/mongo:8.2.5
  restart: unless-stopped
  command:
    - "mongod"
    - "--config"
    - "/etc/mongo/mongod.conf"
  environment:
    MONGO_INITDB_ROOT_USERNAME: "root"
    MONGO_INITDB_ROOT_PASSWORD: "password"
    MONGO_PORT: "27017"
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        mongosh --quiet --eval "db.runCommand({ ping: 1 }).ok" | grep 1
    interval: 10s
    timeout: 5s
    retries: 3

services:
  mongo-post-init:
    image: docker.io/mongo:8.2.5
    depends_on:
      mongo-primary:
        condition: service_healthy
      mongo-secondary-1:
        condition: service_healthy
      mongo-secondary-2:
        condition: service_healthy
    environment:
      MONGO_ROOT_USERNAME: "root"
      MONGO_ROOT_PASSWORD: "password"
      MONGO_CLIENT_USERNAME: "user"
      MONGO_CLIENT_PASSWORD: "password"
      MONGO_CLIENT_DATABASE: "application"
    entrypoint: >
      bash -c '
        # Initialize the replica set
        mongosh --host mongo-primary --username $${MONGO_ROOT_USERNAME} --password $${MONGO_ROOT_PASSWORD} --authenticationDatabase admin --eval "
          try {
            rs.initiate({
              _id: \"mongoReplicaSet\",
              members: [
                { _id: 0, host: \"mongo-primary:27017\" },
                { _id: 1, host: \"mongo-secondary-1:27017\" },
                { _id: 2, host: \"mongo-secondary-2:27017\" }
              ]
            });
          } catch (err) {
            print(\"Error during initializing replica set: \" + e);
          }
        ";

        # Initial wait to give time for the replica set to stabilize
        sleep 20

        # Wait until the primary is ready
        attempts=0
        while true; do
          is_primary=$(mongosh --host mongo-primary --username $${MONGO_ROOT_USERNAME} --password $${MONGO_ROOT_PASSWORD} --authenticationDatabase admin --quiet --eval "
            try {
              print(rs.isMaster().ismaster);
            } catch (err) {
              print(\"\");
            }
          " | tr -d "\r\n")
          if [ "$${is_primary}" = "true" ]; then
            break
          fi
          if [ "$${attempts}" -ge "10" ]; then
            echo "Timeout waiting for primary to be ready"
            exit 1
          fi

          sleep 5
          attempts=$((attempts + 1))
        done

        # Create the user for the client application
        mongosh --host mongo-primary --username $${MONGO_ROOT_USERNAME} --password $${MONGO_ROOT_PASSWORD} --authenticationDatabase admin --eval "
          db = db.getSiblingDB(\"$${MONGO_CLIENT_DATABASE}\");
          if (!db.getUser(\"$${MONGO_CLIENT_USERNAME}\")) {
            db.createUser({
              user: \"$${MONGO_CLIENT_USERNAME}\",
              pwd: \"$${MONGO_CLIENT_PASSWORD}\",
              roles: [{ role: \"readWrite\", db: \"$${MONGO_CLIENT_DATABASE}\" }]
            });
          }
        ";
      '
    restart: no

  mongo-pre-init:
    image: docker.io/mongo:8.2.5
    volumes:
      - mongo-security:/etc/mongo/security
    entrypoint: >
      bash -c '
        # Check if the security key exists
        if [ -f /etc/mongo/security/key ]; then
          exit 0
        fi

        openssl rand -base64 756 > /etc/mongo/security/key
        chmod 400 /etc/mongo/security/key
        chown mongodb:mongodb /etc/mongo/security/key
      '
    restart: no

  mongo-primary:
    depends_on:
      mongo-pre-init:
        condition: service_completed_successfully
    volumes:
      - mongo-security:/etc/mongo/security
      - mongo-primary-data:/data/db
    configs:
      - source: mongo-primary-cfg
        target: /etc/mongo/mongod.conf
    ports:
      - "27017:27017"
    <<: *mongo-common

  mongo-secondary-1:
    depends_on:
      mongo-pre-init:
        condition: service_completed_successfully
    volumes:
      - mongo-security:/etc/mongo/security
      - mongo-secondary-1-data:/data/db
    configs:
      - source: mongo-secondary-cfg
        target: /etc/mongo/mongod.conf
    ports:
      - "27018:27017"
    <<: *mongo-common

  mongo-secondary-2:
    depends_on:
      mongo-pre-init:
        condition: service_completed_successfully
    volumes:
      - mongo-security:/etc/mongo/security
      - mongo-secondary-2-data:/data/db
    configs:
      - source: mongo-secondary-cfg
        target: /etc/mongo/mongod.conf
    ports:
      - "27019:27017"
    <<: *mongo-common

volumes:
  mongo-security:
    driver: local
  mongo-primary-data:
    driver: local
  mongo-secondary-1-data:
    driver: local
  mongo-secondary-2-data:
    driver: local

configs:
  mongo-primary-cfg:
    file: ./config/mongod-primary.conf
  mongo-secondary-cfg:
    file: ./config/mongod-secondary.conf
