x-mongo-common: &mongo-common
  image: docker.io/mongo:8.2.2
  restart: unless-stopped
  command:
    - "mongod"
    - "--config"
    - "/etc/mongo/mongod.conf"
  environment:
    MONGO_INITDB_ROOT_USERNAME: "root"
    MONGO_INITDB_ROOT_PASSWORD: "password"
    MONGO_PORT: "27017"
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        mongosh --quiet --eval "db.runCommand({ ping: 1 }).ok" | grep 1
    interval: 10s
    timeout: 5s
    retries: 3

services:
  mongo-post-init:
    image: docker.io/mongo:8.2.2
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      MONGO_ROOT_USERNAME: "root"
      MONGO_ROOT_PASSWORD: "password"
      MONGO_CLIENT_USERNAME: "user"
      MONGO_CLIENT_PASSWORD: "password"
      MONGO_CLIENT_DATABASE: "application"
    entrypoint: >
      bash -c '
        # Create the user for the client application
        mongosh --host mongo --username $${MONGO_ROOT_USERNAME} --password $${MONGO_ROOT_PASSWORD} --authenticationDatabase admin --eval "
          db = db.getSiblingDB(\"$${MONGO_CLIENT_DATABASE}\");
          if (!db.getUser(\"$${MONGO_CLIENT_USERNAME}\")) {
            db.createUser({
              user: \"$${MONGO_CLIENT_USERNAME}\",
              pwd: \"$${MONGO_CLIENT_PASSWORD}\",
              roles: [{ role: \"readWrite\", db: \"$${MONGO_CLIENT_DATABASE}\" }]
            });
          }
        ";
      '
    restart: no

  mongo:
    volumes:
      - mongo-data:/data/db
    configs:
      - source: mongo-cfg
        target: /etc/mongo/mongod.conf
    ports:
      - "27017:27017"
    <<: *mongo-common

volumes:
  mongo-data:
    driver: local

configs:
  mongo-cfg:
    file: ./config/mongod.conf
