x-mongo-common: &mongo-common
  image: docker.io/mongo:8.2.1
  restart: unless-stopped
  command:
    - "mongod"
    - "--config"
    - "/etc/mongo/mongod.conf"
  environment:
    MONGO_INITDB_ROOT_USERNAME: "root"
    MONGO_INITDB_ROOT_PASSWORD: "password"
    MONGO_PORT: "27017"
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        mongosh --quiet --eval "db.runCommand({ ping: 1 }).ok" | grep 1
    interval: 10s
    timeout: 5s
    retries: 3

services:
  mongo:
    volumes:
      - mongo-data:/data/db
    configs:
      - source: mongo-cfg
        target: /etc/mongo/mongod.conf
    ports:
      - "27017:27017"
    <<: *mongo-common

volumes:
  mongo-data:
    driver: local

configs:
  mongo-cfg:
    file: ./config/mongod.conf
