x-kibana-common: &kibana-common
  image: docker.io/kibana:9.2.1
  restart: unless-stopped
  entrypoint:
    - "/usr/local/bin/kibana-docker"
  environment:
    SERVER_NAME: "kibana"
    SERVER_PORT: "5601"
    SERVER_PUBLICBASEURL: "http://127.0.0.1:5601"
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        curl -fsSL http://127.0.0.1:5601/api/status | grep -q '"level":"available"'
    interval: 10s
    timeout: 5s
    retries: 3

services:
  kibana:
    volumes:
      - kibana-data:/usr/share/kibana/data
    configs:
      - source: kibana-cfg
        target: /usr/share/kibana/config/kibana.yml
    ports:
      - "5601:5601"
    <<: *kibana-common

volumes:
  kibana-data:
    driver: local

configs:
  kibana-cfg:
    file: ./config/kibana.yml
