x-kafka-common: &kafka-common
  image: docker.io/apache/kafka:4.0.0
  restart: unless-stopped
  entrypoint: >
    bash -c '
      if [ ! -f /var/lib/kafka/data/meta.properties ]; then
        /opt/kafka/bin/kafka-storage.sh format --ignore-formatted --cluster-id "$${KAFKA_KRAFT_CLUSTER_ID}" --config /etc/kafka/server.properties
      fi
      exec /opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
    '
  environment:
    KAFKA_KRAFT_CLUSTER_ID: 4qSrjHzBT8GBUpE6fHa6sg
    KAFKA_JVM_PERFORMANCE_OPTS: "-Xms1g -Xmx1g"
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        /opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server $(hostname):9092
    interval: 10s
    timeout: 5s
    retries: 3

services:
  kafka:
    volumes:
      - kafka-data:/var/lib/kafka
    configs:
      - source: kafka-cfg
        target: /etc/kafka/server.properties
    ports:
      - "9092:9092"
    <<: *kafka-common

volumes:
  kafka-data:
    driver: local

configs:
  kafka-cfg:
    file: ./config/server.properties
