x-redis-common: &redis-common
  image: docker.io/redis:8.6.0
  restart: unless-stopped
  entrypoint: redis-server /usr/local/etc/redis/redis.conf
  environment:
    REDIS_ADDR: "redis://127.0.0.1"
    REDIS_PORT: "6379"
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        redis-cli -p $${REDIS_PORT} ping | grep PONG
    interval: 10s
    timeout: 5s
    retries: 3

services:
  redis-primary:
    volumes:
      - redis-primary-data:/data
    configs:
      - source: redis-primary-cfg
        target: /usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"
    <<: *redis-common

  redis-replica:
    depends_on:
      redis-primary:
        condition: service_healthy
    volumes:
      - redis-replica-data:/data
    configs:
      - source: redis-replica-cfg
        target: /usr/local/etc/redis/redis.conf
    ports:
      - "6380:6379"
    <<: *redis-common

volumes:
  redis-primary-data:
    driver: local
  redis-replica-data:
    driver: local

configs:
  redis-primary-cfg:
    file: ./config/redis-primary.conf
  redis-replica-cfg:
    file: ./config/redis-replica.conf
