x-jaeger-common: &jaeger-common
  image: docker.io/jaegertracing/jaeger:2.15.1
  restart: unless-stopped
  environment:
    LOG_LEVEL: "info"
    COLLECTOR_OTLP_ENABLED: "true"
    COLLECTOR_OTLP_GRPC_HOST_PORT: "0.0.0.0:4317"
    COLLECTOR_OTLP_HTTP_HOST_PORT: "0.0.0.0:4318"
    JAEGER_USERNAME: ""
    JAEGER_PASSWORD: ""
    SPAN_STORAGE_TYPE: "memory"
  healthcheck:
    test:
      - "CMD"
      - "wget"
      - "-qO-"
      - "http://127.0.0.1:16686/"
    interval: 10s
    timeout: 5s
    retries: 3

services:
  jaeger:
    ports:
      - "4317:4317"
      - "4318:4318"
      - "5778:5778"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
      - "16686:16686"
    <<: *jaeger-common
