x-prometheus-common: &prometheus-common
  image: docker.io/prom/prometheus:v3.9.1
  restart: unless-stopped
  user: root
  entrypoint: prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus-data --storage.tsdb.retention.time=15d --enable-feature=extra-scrape-metrics --web.enable-lifecycle --web.enable-otlp-receiver
  healthcheck:
    test:
      - "CMD-SHELL"
      - |
        wget -qO- http://127.0.0.1:9090/-/ready
    interval: 10s
    timeout: 5s
    retries: 3

services:
  prometheus:
    volumes:
      - prometheus-data:/prometheus-data
    configs:
      - source: prometheus-cfg
        target: /etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    <<: *prometheus-common

volumes:
  prometheus-data:
    driver: local

configs:
  prometheus-cfg:
    file: ./config/prometheus.yml
